@import url("https://use.typekit.net/fiy6nxt.css");

$lightYellow: #f9f9f7;
$darkBlue: #131221;

$bodyFont: 'open-sans';
$headerFont: 'axia-stencil';

$tabletBreakpoint: 'screen and (max-width: 1023px)';
$mobileBreakpoint: 'screen and (max-width: 500px)';
